---
import Star from "../svg/Star.astro";
---

<nav class="flex flex-col md:flex-row items-center justify-around my-6 md:my-16 poppins max-md:gap-6">
	<h1 class="font-bold text-3xl flex gap-4 items-center text-[#00113B]"><Star /> NorteX</h1>
	<ul class="flex flex-col items-center md:flex-row gap-4 lg:gap-16 *:font-medium">
		<li>
			<a href="#about">About</a>
		</li>
		<li>
			<a href="#projects">Projects</a>
		</li>
		<!--<li>-->
		<!--	<a href="#testimonials">Testimonials</a>-->
		<!--</li>-->
	</ul>
	<a class="font-medium border border-black rounded-2xl px-8 py-2" href="#contact">Contact</a>
</nav>
