---
import ChevronDown from "../svg/ChevronDown.astro";
---

<a
	class="absolute max-md:hidden top-64 md:right-4 lg:right-8 xl:right-32 flex items-center gap-2 motion-safe:animate-bounce"
	style="writing-mode: vertical-lr"
	href="#about"
>
	Scroll down <ChevronDown />
</a>
